*{
    margin: 0 auto;
}
body{
    margin: 0 auto;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.section-container{
    background-image: url("../images/banner/banner3.png");
    width: 100%;
    max-width: 1600px;
    height: 808px;
    margin: 0 auto;
}
.section-heading {
    text-align: right;
    padding: 216px 230px 364px 845px;

}
.section-heading h2 {
    color: #151414;
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 24px;

}
.section-heading p {
    font-size: 16px;
    color: #444343;
    line-height: 26px;


}
.btn {
    font-size: 20px;
    font-weight: 600;
    padding: 21px 25px 20px 26px;
    border-radius: 5px;
    background-color: #F15B22;
    margin-top: 32px;
    border: none;

}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;

}
.container .child-container {
    display: flex;
    gap: 35px;

}
.child-container .heading {
    margin-top: 276px;
    padding-right: 322px;
}
.child-container .heading h3{
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 24px;
}
.child-container .heading p {
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 0 auto 16px;

}
.heading ul {
    list-style: none;
    margin-left: 0;
    padding: 0;
}
.heading ul li::before{
    content: '✓';
    color: rgb(14, 233, 14);
    margin-right: 8px;
    font-size: 20px;
}
.plans {
    margin: 130px auto;
    width:100%;
    max-width: 1141px;
    align-items: center;
    /* background-color: #F15B22; */
    
   

}
    
.plan-container {
    display: flex;
    gap: 86px;
    justify-content: space-around;
    padding: 60px;
    margin: 55px auto;
    align-items: center;
    
    
   

}
#plane {
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    text-align: center;
}
.plan-card h4 {
    font-size: 20px;
    font-weight: bold;
    color: #151414;
    margin-top: 33px;
   text-align: center;

    
}
.plan-card h5 {
    font-size: 18px;
    font-weight: 600;
    color: #737272;
    margin-top: 16px;
    text-align: center;

}
.plan-container .plan-card .plan-img {
    text-align: center;
}

.watch-container {
    background-image: url("../images/watch.png");
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    background-repeat: no-repeat;
    border-radius: 8px;
    margin-bottom: 130px;
   

}
.image-container {
   position: relative;
    width:100%;
    max-width: 1140px;
}
.image-container img{
    width: 100%;
    max-width: 1140px;
    height: 300px;
    display: block;
    border-radius: 10px;

}
.call {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    color: white;

}
.call h2 {
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 24px;


}
.btnr {
    font-size: 20px;
    font-weight: 600;
    padding: 21px 25px 20px 26px;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-top: 32px;
    border: none;

}
footer{
    width: 100%;
    max-width: 1600px;
    height: 577px;
    margin: 0 auto;
    background-color: #151414;
  
 
}
.future-2 {
    display: flex;
    gap: 331px;
    padding: 130px 230px;
}
.future-container h2{
    font-size: 45px;
    font-weight: bold;
    color:#F8F8F8;

}
.future-container p {
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    color: #FFFFFF;
    padding-bottom: 24px;


}
.future-container .e,.p {
    padding-bottom: 16px;

}

.future-form h2{
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 31px;


}
.future-form #email{
     padding: 22px 100px 21px;
     margin-bottom: 16px;

   
}